DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=anaphygon_portfolio

JWT_ACCESS_SECRET=min_32_chars_random_string
JWT_REFRESH_SECRET=min_32_chars_different_random_string

NODE_ENV=development
